.nav-flag {
  height: 1rem;
}
.navbar {
  height: 50px;
  position: sticky;
}
.nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 95%;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.navbar-left h5 {
  font-size: 1.5rem;
}
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}
